<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>I am Batman</h1>		
		</div>
	</div><br><br><br><br><br>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<form class="form" method="post" action="<%= pages_save_voto_path %>">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			  <div class="form-group">
			    <label for="txt_email">Ingrese su Email</label>
			    <input type="email" class="form-control" id="txt_email" name="txt_email" placeholder="Email">
			  </div>
			  <button type="submit" class="btn btn-primary">Enviar Voto</button>
			</form>
		</div>
	</div>
</div>
<script>
	$.backstretch("<%= asset_path 'bg_batman.jpg' %>");
</script>
