<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>This looks like a job for Superman</h1>			
		</div>
	</div>
</div>
<script>
	$.backstretch("<%= asset_path 'bg_superman' %>");
</script>
